server {
    listen 80;
    server_name _;

    root /usr/share/nginx/html;
    index index.html;
    charset utf-8;

    # Seguridad básica
    server_tokens off;
    add_header X-Content-Type-Options "nosniff" always;
    add_header X-Frame-Options "SAMEORIGIN" always;
    add_header Referrer-Policy "strict-origin-when-cross-origin" always;

    # Compresión
    gzip on;
    gzip_comp_level 6;
    gzip_min_length 1024;
    gzip_types text/css application/javascript application/json image/svg+xml text/plain;

    # ---------- Resolver DNS público para URLs externas de Render ----------
    resolver 8.8.8.8 1.1.1.1 valid=30s;

    location /api/auth/ {
        proxy_pass ${API_AUTH_URL}/;
        include /etc/nginx/conf.d/proxy_comun.inc;
    }

    location /api/catalogo/ {
        rewrite ^/api/catalogo/(.*)$ /$1 break;
        proxy_pass ${API_CATALOGO_URL}/;
        include /etc/nginx/conf.d/proxy_comun.inc;
    }

    location ^~ /uploads/ {
        proxy_pass ${API_CATALOGO_URL}/;
        include /etc/nginx/conf.d/proxy_comun.inc;
    }

    location /api/pedidos/ {
        rewrite ^/api/pedidos/(.*)$ /$1 break;
        proxy_pass ${API_PEDIDOS_URL}/;
        include /etc/nginx/conf.d/proxy_comun.inc;
    }

    location /api/pagos/ {
        rewrite ^/api/pagos/(.*)$ /$1 break;
        proxy_pass ${API_PAGOS_URL}/;
        include /etc/nginx/conf.d/proxy_comun.inc;
    }

    # ---------- Archivos estáticos ----------
    location ~* \.(css|js|svg|png|jpg|jpeg|webp|woff2)$ {
        expires 7d;
        add_header Cache-Control "public";
        add_header X-Content-Type-Options "nosniff" always;
    }

    location / {
        try_files $uri $uri/ =404;
    }

    error_page 404 /404.html;
}
